.footer {
  background: #111;
  color: #fff;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
  margin-top: 10%;

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      flex: 1 1 220px;
      margin: 10px;

      h4 {
        color: #f0a500;
        margin-bottom: 15px;
        font-size: 18px;
      }

      p,
      li,
      a {
        color: #ccc;
        font-size: 14px;
      }

      a {
        text-decoration: none;

        &:hover {
          color: #f0a500;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 8px;
        }
      }

      .social-icons li {
        display: inline-block;
        // margin-right: 40px;
        // display: flex;
        flex-direction: column;

        .fb {
          // color: #3b5998;
          display: flex;

          // align-items: center;
          i {
            font-size: 56px;
            margin-right: 8px;
          }
        }
      }

    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: #888;
  }
}

// #template
@media (max-width: 890px) and (min-width: 700px) {
  .footer {
    padding: 40px 0px;
    .footer-container {
      padding: 0px 0px 0px 70px;

      .footer-contact {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .footer-bottom {
        font-size: 12px;
        padding: 0px 30px 0px 0px;
      }
    }
  }
}