.main-container {
    margin: 50px auto;
    padding: 20px;
    font-family: 'Arial, sans-serif';

    .first {
        .info h2 {
            text-align: center;
            font-size: 28px;
            color: #333;
        }

        .reason:hover {
            transform: translateY(-7px);
            transition: .5s;
        }

        .reason {
            // background: #000;
            display: flex;
            border-radius: 10px;
            padding: 20px;
            margin-top: 30px;
            padding-left: 30px;
        }

        .reason-pic img {
            width: 70%;
        }
    }

    img {
        display: block;
        margin: 0 auto 20px;
        width: 40%;
        height: auto;
    }

    .info p {
        font-size: 20px;
        line-height: 1.6;
        color: black;
        margin-bottom: 15px;
        padding-right: 50px;
    }

    &:hover {
        transition: background-color 0.3s ease;
    }

    .second:hover {
        transform: translateY(-7px);
        transition: .5s;
    }

    .second {
        display: flex;
        margin-top: 50px;
        margin-left: 60px;
        margin-right: 60px;

        img {
            width: 40%;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            color: black;
            // margin-bottom: 15px;
            padding-right: 50px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }


}