header {
    // background-color: #f0f0f0;
    padding: 20px 40px;
    text-align: center;
    font-size: 18px;

    h1 {
        text-align: center;
        // font-size: 2.5em;
    }

    p {
        text-align: center;
        margin-top: 20px;

    }
}

section {

    .schoolarship-school {
        // text-align: center;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .main-text {
            margin: 20px 20px;

            h1 {
                text-align: center;
            }

            img {
                width: 500px;
                height: 300px;
                border-radius: 20px;
                padding-top: 10px;
                // box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
            }
        }

        .info-main p {
            // padding-left: 30px;
            padding-top: 60px;
            text-align: center;
            width: 600px;
        }
    }

    .pn-values {
        padding-top: 20px;
    }

    .pn-values h1 {
        text-align: center;
    }

    .valuess {
        margin-top: 30px;

    }

    .respect-text {
        padding-top: 10px;
    }

    .values {
        text-align: center;
        height: 250px;
        width: 350px;
        padding-top: 40px;
        border-radius: 20px;
        background: rgba(198, 225, 234, 0.149);
        box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
    }
    .img-pnc {
        width: 80px;
        height: 85px;
    }
    .card-values {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

}