header {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/image/headers-about.png) center/cover no-repeat;
    // background-color: #f0f0f0;
    // display: flex;
    // height: 50%;
    padding: 20px 40px;
    // margin-top: 30px;
    height: 70vh;
    h1 {
        color: orange;
        text-align: center;
        @include center
        // font-size: 2.5em;
    }
    p {
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
         color: white;
         @include center;
    }
}

